/* add your styles here */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.columns {
  float: left;
  width: 50%;
  padding: 10px;
}

h2 {
  text-align: center;
  padding: 32px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
